---
import Logo from '../assets/logodark.svg'
---

<header class="nav">
    <div class="container row">
     <div class="nav-logo one-third column">
         <a href="#" class="logo-link">
             <img src={Logo.src} alt="Brand logo">
         </a>
     </div>
     <nav class="one-third column">
         <ul class="center flex">
             <li><a href="#features">Features</a></li>
             <li><a href="#pricing">Pricing</a></li>
             <li><a href="#customers">Customers</a></li>
         </ul>
     </nav>
     <div class="nav-cta one-third column">
         <a href="#">Login</a>
         <a href="#" class="button button-primary">Sign Up</a>
     </div>
    </div>
 </header>


 <style lang="scss">

.nav{
    padding: 15px 0;
    li{
      list-style: none;
      margin-top: 7px;
    }
    .nav-cta{
      text-align: right;
    }
    a:not(.button):not(.logo-link){
      color: #111;
      padding: 0 20px;
      text-decoration: none;
    }
    .logo-link img{
      width: 90px;
      margin-top: 5px;
    }
    @media (max-width:700px) {
      nav{
        display: none;
      }
      .nav-cta{
        position: absolute;
        right: 20px;
      }
    }
  } 
 </style>