---

---


<section class="pricing-table" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h3 class="h1-title">Choose the right plan</h3>
            <p>We have designed our pricing to help you find the best solutions for you and your incredible business</p>
        </div>

        <div class="row">
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Starter</h5>
                    <h3 class="h2-title">$9.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button u-full-width">start trial</a>
                </div>

                <div class="price-list">
                    <p>Unlimited Feedback boards</p>
                    <p>Unlimited Prioritization Table</p>
                    <p>Single Sign-On (SSO)</p>
                    <p>Brand Customization</p>
                    <p>Unlimited Tracked Users</p>
                    <p>Custom Domain</p>
                    <p>Unlimited Prioritization Table</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Starter</h5>
                    <h3 class="h2-title">$9.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button button-primary u-full-width">start trial</a>
                </div>

                <div class="price-list">
                    <p>Unlimited Feedback boards</p>
                    <p>Unlimited Prioritization Table</p>
                    <p>Single Sign-On (SSO)</p>
                    <p>Brand Customization</p>
                    <p>Unlimited Tracked Users</p>
                    <p>Custom Domain</p>
                    <p>Unlimited Prioritization Table</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Starter</h5>
                    <h3 class="h2-title">$9.99<span class="s-paragraph"> / month</span></h3>
                    <a href="#" class="button u-full-width">start trial</a>
                </div>

                <div class="price-list">
                    <p>Unlimited Feedback boards</p>
                    <p>Unlimited Prioritization Table</p>
                    <p>Single Sign-On (SSO)</p>
                    <p>Brand Customization</p>
                    <p>Unlimited Tracked Users</p>
                    <p>Custom Domain</p>
                    <p>Unlimited Prioritization Table</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <style lang="scss">

.pricing-table{
   background-color: #fff;
  .price-item{
    border: 1px solid #dde2e5;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    .price-header{
      h3 .s-paragraph{
        color: #9ba5b9;
      }
    }
    .price-list{
      p{
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
        &::before{
          position: absolute;
          content: '';
          left: 0; top: 5px;
          display: inline-block;
          transform: rotate(45deg);
          height: 8px;
          width: 5px;
          border-bottom: 2px solid #9ba5b9;
          border-right: 2px solid #9ba5b9;
          z-index: 5;
        }
      }
    }
    
  }
}
 </style>